<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header-user}"/>
<main>
    <h1 class="text-center text-white">All wines</h1>
    <hr class="hr-3"/>
    <div class="row justify-content-center">
        <tr th:each="wine: ${wines}">
                <div class="card text-white bg-transparent col-2 offset-1 custom-bottom-margin">
                    <img class="card-img-top" th:src="${wine.picture}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Name: [[${wine.name}]], by [[${wine.producer}]]</h5>
                        <p class="card-text">
                            Variety: [[${wine.variety}]]
                        </p>
                        <p class="card-text">
                            Price: [[${wine.price}]]
                        </p>
                        <form class="mx-auto w-15" th:action="@{'/wines/wine-details/' + ${wine.id}}" method="get">
                            <div class="button-holder d-flex justify-content-center">
                                <button class="btn btn-info text-white mb-3" type="submit">More details</button>
                            </div>
                        </form>
                    </div>
                </div>
        </tr>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>