<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header-user}"/>
<main>
    <div class="container">
        <h1 class="text-center text-white"></h1>
        <hr class="hr-3"/>
        <div class="well">
            <div class="media">
                <a class="pull-left">
                    <img class="media-object" height="150" th:src="${wine.picture}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading text-white">Name: [[${wine.name}]]</h4>
                    <h4 class="media-heading text-white">Producer: [[${wine.producer}]]</h4>
                    <h4 class="media-heading text-white">Variety: [[${wine.variety}]]</h4>
                    <h4 class="media-heading text-white">Origin: [[${wine.CountryOfOrigin}]]</h4>
                    <h4 class="media-heading text-white">Year: [[${wine.year}]]</h4>
                    <h4 class="media-heading text-white">Type: [[${wine.wineType}]]</h4>
                    <h4 class="media-heading text-white">Price: [[${wine.price}]]lv.</h4>
                    <h4 class="media-heading text-white">Name: [[${wine.name}]]</h4>
                </div>
            </div>
            <form class="mx-auto w-15" th:action="@{/wines/all-wines}" method="get">
                <div class="button-holder d-flex justify-content-center">
                    <button class="btn btn-info text-white mb-3" type="submit">Back to wines</button>
                </div>
            </form>
            <th:block th:if="${session.role == 'ADMIN'}">
                <form class="mx-auto w-15" th:action="@{'/wines/edit-wine/' + ${wine.id}}" method="get">
                    <div class="button-holder d-flex justify-content-center">
                        <button class="btn btn-danger text-white mb-3" type="submit">Edit wine</button>
                    </div>
                </form>
            </th:block>
            <th:block th:unless="${session.role == 'ADMIN'}">
                <form class="mx-auto w-15" th:action="@{'/users/add-wine/' + ${wine.id}}" method="post">
                    <div class="button-holder d-flex justify-content-center">
                        <button class="btn btn-outline-info text-white mb-3" type="submit">Add to my wines</button>
                    </div>
                </form>
            </th:block>
        </div>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>