<header>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand text-white h4" href="/static">Wine Lovers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-2">
                    <a class="nav-link text-white active h7" href="/events/all-events">Events</a>
                </li>
                <li class="nav-item col-md-2">
                    <a class="nav-link text-white active h7" href="/news/all-news">News</a>
                </li>
                <li class="nav-item col-md-2">
                    <a class="nav-link text-white active h7" href="/wines/all-wines">Our Wines</a>
                </li>
                <li class="nav-item col-md-2">
                    <a class="nav-link text-white active h7" href="/shops/all-shops">Our Shops</a>
                </li>
                <li class="nav-item col-md-2">
                    <a class="nav-link text-white active h7" href="/users/login">Login</a>
                </li>
                <li class="nav-item col-md-2">
                    <a class="nav-link text-white active h7" href="/users/register">Register</a>
                </li>


            </ul>
        </div>
    </nav>
</header>